# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp

# ROS2 / build
build/
install/
log/
*.egg-info/

# VSCode
.vscode/
*.code-workspace

# Local data / recordings
/data/
*.raw
*.mp4
*.h264
*.json

# OS files
.DS_Store
Thumbs.db
